In [3]:
import json
import re as re
import os
import collections
import string
import numpy as np
import pandas as pd
import nltk
#nltk.download('wordnet')
#nltk.download('averaged_perceptron_tagger')

In [4]:
review_Gym = [json.loads(line) for line in open('review_Gym.json', 'r')]

In [5]:
review_Gym_clear=review_Gym[0]
for line in review_Gym_clear:
    for p in string.punctuation.replace("\'",""):
        line['text']=line['text'].replace(p, " ")
        line['text']=line['text'].lower()

In [6]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [7]:
from nltk.corpus import stopwords
en_stops = set(stopwords.words('english'))
words_box=[]
star_box=[]
for line in review_Gym_clear:
    line_list=line['text'].strip().split()
    for word in line_list:
        if word not in en_stops:
            words_box.append(word)
            star_box.append(int(line['stars']))

In [8]:
# def generate_ngrams(text, n_gram=1):
#     token = [token for token in text.lower().split(' ') if token != '' if token not in STOPWORDS]
#     ngrams = zip(*[token[i:] for i in range(n_gram)])
#     return [' '.join(ngram) for ngram in ngrams]

In [9]:
# N = 100

# # Unigrams
# disaster_unigrams = defaultdict(int)
# nondisaster_unigrams = defaultdict(int)

# for tweet in df_train[DISASTER_TWEETS]['text']:
#     for word in generate_ngrams(tweet):
#         disaster_unigrams[word] += 1
        
# for tweet in df_train[~DISASTER_TWEETS]['text']:
#     for word in generate_ngrams(tweet):
#         nondisaster_unigrams[word] += 1
        
# df_disaster_unigrams = pd.DataFrame(sorted(disaster_unigrams.items(), key=lambda x: x[1])[::-1])
# df_nondisaster_unigrams = pd.DataFrame(sorted(nondisaster_unigrams.items(), key=lambda x: x[1])[::-1])

In [10]:
from nltk.stem import WordNetLemmatizer
lemm= WordNetLemmatizer()
stemmer = nltk.stem.PorterStemmer()

In [11]:
words_new=[]
for i in words_box:
    words_new.append(lemm.lemmatize(i))

In [12]:
box_zip=zip(words_new,star_box)
words_stars=[i for i in box_zip]
words_star_df=pd.DataFrame(words_stars, columns=['Word','Star'])
words_star_df

             Word  Star
0            dude     4
1            dude     4
2            dude     4
3           place     4
4         awesome     4
...           ...   ...
4186008     super     5
4186009      nice     5
4186010  friendly     5
4186011  flywheel     5
4186012      good     5

[4186013 rows x 2 columns]

In [13]:
words_star_df.to_csv('words_star.csv')

In [136]:
pos=pd.DataFrame(pos_tags, columns=['word','pos'])
pos

      word pos
0     dude  NN
1     dude  NN
2     dude  JJ
3    place  NN
4  awesome  JJ
5  awesome  JJ
6     mean  NN
7  totally  RB

In [138]:
draw=pos[pos.pos.isin(['NN','JJ','JJR','JJS','NNS','NNP','NNPS','UH'])]
draw.word

0       dude
1       dude
2       dude
3      place
4    awesome
5    awesome
6       mean
Name: word, dtype: object

In [139]:
count=collections.Counter(draw.word)

In [140]:
a=count.most_common(500)
a=pd.DataFrame(a, columns=['word','count'])

In [44]:
b=pd.DataFrame(nltk.pos_tag(a.word),columns=['word','tag'])
pd.concat([a,b.tag],axis=1).to_csv('after_postag.csv')

# 词云